*{
    scroll-behavior:smooth;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    
}
/* 000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 -->
        <!--Logo Navigation bar and Order Button*/

.head{
    background-color: aqua;
   filter: blur(0px);
    background-image: url(images/Blur2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 150px;
}

.flex-wrap{      
    border-bottom-left-radius: 50px;
    display: flex;
}

.menu-icon{
    color: transparent;
}

.logo{
    padding-left: 100px;
    padding-top: 10px;
    color:white;
}

.navbar{   
    text-align: center;
    padding: 25px;
    width: 100%;
}

.navbar a{
    color:rgb(13, 7, 132);
    font-weight: bold;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover{
    color:skyblue;
}

.order-button{
    color: white;
    border: none;
    border-color: white;
    width: 100px;
    padding: 10px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-right:100px ;
    margin-top: 14px;
    border-radius: 15px;
    cursor: pointer;
}

.order-button a {
    color: rgb(13, 7, 132);
    font-weight: bold;
    text-decoration: none;
}

.order-button:hover {
    background-color: rgb(13, 7, 132);
}

.order-button:hover a {
    color: white;
}

.title{
    padding-left: 150px;
    color: black;
}

.highlight{
    background-color: transparent;
    color: rgb(13, 7, 132);
}

/* was .k*/
.committed-text{
    color: black;
    margin-left: 150px;
}

.flex-wrap2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* was .a*/
.Alteration-image{
    background-color: whitesmoke;
    height: 280px;
    width: 280px;
    border-radius: 19px;
    margin: 30px;
}

/* was .b*/
.Deliver-image{
    background-color: whitesmoke;
    height: 280px;
    width: 280px;
    border-radius: 19px;
    margin: 30px;
}

/* was .c*/
.Celebrate-image{
    background-color: whitesmoke;
    height: 280px;
    width: 280px;
    margin: 30px;
    border-radius: 19px;
}

.space{
    height: 50px;
    width: 18px;
}

.content{
    display: flex;
}

.about-us{
    padding-left: 100px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-top: 100px;
    width: 55%;
    height: 300px;
}
/* was .pictures*/
.pictures-rigthOf-AboutUs{
    position: relative;
    padding-top: 40px;
    padding-left: 20px;

}

.image1{
    object-fit: cover;
    rotate: 20deg;
    bottom: 10px;
    border-radius: 0px;
}
.image2{
    position: absolute;
    top: 140px;
    left: 70px;
    object-fit: cover;
    rotate: -10deg;
    border-radius: 0px;
}

/* was .L*/
.GraduationAttire-Title{
    align-items: center;
    text-align: center;
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
     
 }

 .row1 img{
     padding: 25px;
     border-radius: 50px;
 }

 .form{
    background-image: url(images/gradautes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 400px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 45px;
    color: 	rgb(92, 64, 51);
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
}

.contact{
    display: flex;}

.bottom-order-button{
    color: white;
    border: none;
    border-color: white;
    width: 150px;
    padding: 20px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.bottom-order-button a {
    color: rgb(13, 7, 132);
    font-weight: bold;
    text-decoration: none;
}

.bottom-order-button:hover {
    background-color: rgb(13, 7, 132);
}

.bottom-order-button:hover a {
    color: white;
}

.bottom{
    background-color: aqua;
    background-image: url(images/Blur.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 150px;
}

/*was logo1*/
.bottom-logo{
            
    padding-left: 100px;
    padding-top: 10px;
    padding-right: 50px;
   border-right: 4px solid white;
   width: 250px;
   color: white;
    
}

.material-symbols-outlined {
    color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}

.socials i{
    color: white;    
}

.socials{
    padding-left: 30px;
    padding-top: 30px;
    border-bottom: 4px solid white;
    width: 250px;
    color: white;
}
.socials:hover i{
    cursor: pointer;
    }

footer{
            
    padding: 0.5em 0;
    height: 130px;
    justify-content: center;
    font-size: 15px;
    text-align: center;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.caption{
    font-weight: bold;
}

.a img:hover{
    content: "Art by pinterest";
   ;
    color: white;
    background-color:rgba(0, 0, 0, 0.5) ;
    font-style: italic;
}

@media (max-width: 915px) {

    *{
        scroll-behavior:none;
    }
    
    .body{
        margin-left: opx;
        margin-right: 0px;
        
    }
    .socials p{
        margin-top: 25px;
        
    }
    .logo{
        padding-left: 10px;
        padding-top: 10px;
        color:white;
        
}
.menu-icon {
            display: block; /* Show the hamburger menu icon */
            
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 2;
            color:  rgb(13, 7, 132);
       cursor: pointer;
            font-size: 24px;
        }
        nav {
            display: none; /* Hide the navigation */
        width: 200px;
            text-align: center;
            background-color: #34495e;
            position: absolute;
            top: 0px;
            right: 0px;
            z-index: 1;
        }
        nav a {
            display: block;
            padding: 15px 0;
            border-bottom: 1px solid #2c3e50;
        }
      
        nav a:last-child {
            border-bottom: none;
        }
        nav.show {
            display: block; /* Show the navigation when toggled */
       }
       .order-button{
        display: none;
        text-decoration: none;
       }
       .order-button a{
        text-decoration: none;
        color: white;
       }
       .title{

padding-left: 10px;
color: white;
}
.committed-text{

color: white;
margin-left: 10px;
}
.flex-wrap2{
        display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: 9px;
padding: 1px;
font-family:Arial, Helvetica, sans-serif;
color: grey;
    }
    .Alteration-image{
background-color: whitesmoke;
height: 180px;
width: 300px;
border-radius: 19px;
margin: 30px;



}
.Alteration-image img{

height: 80px;

}
.Deliver-image{
background-color: whitesmoke;
height: 180px;
width: 300px;
border-radius: 19px;
margin: 30px;
}
.Deliver-image img{

height: 80px;

}
.Celebrate-image{
background-color: whitesmoke;
height: 180px;
width: 300px;
margin: 30px;
border-radius: 19px;

}
.Celebrate-image img{

height: 80px;

}
.content{
display: flex;

}
.about-us{
padding-left: 10px;
padding-bottom: 0px;
padding-right: 20px;
padding-top: 60px;
width: 55%;
height: 200px;
font-size: 10px;
}
.pictures-rigthOf-AboutUs{
position: relative;
padding-top: 40px;
padding-left: 10px;

}
.pictures-rigthOf-AboutUs{
height: 100px;
width: 100px;
}
.image1{
object-fit: cover;
rotate: 20deg;
bottom: 10px;
border-radius: 0px;
width: 100%;
height: 100%;
}
.image2{
position: absolute;
top: 100px;
left: 40px;
object-fit: cover;
rotate: -10deg;
border-radius: 0px;
width: 100%;
height: 100%;
}
.row1 img{
padding: 10px;
border-radius: 30px;
height: 90px;
width: 90px;
}
.form{
font-size: 15px;
padding: 5px;
height: auto;
}
.order-button1{
background-color: transparent;


}
.bottom-order-button{
    justify-content: center;
    margin: 0px;
}
.bottom-order-button:hover {
    background-color: rgb(13, 7, 132);
}

.bottom-order-button:hover a {
    color: white;
}

.order-button1 a{
text-decoration: none;
color: white;
}
.order-button1:hover{
background-color:  rgb(13, 7, 132);
}
.bottom-logo{
margin-top: 35px;
        padding-left: 10px;
        padding-top: 10px;
        padding-right: 5px;
       border-right: 2px solid white;
       width: 180px;
       color: white;
       font-size: 10px;
        
    }
    .bottom-logo img{
       height: 50px;
        
    }
    .socials{
        font-size: 14px;
        
padding-left: 10px;
        padding-top: 10px;
       border-bottom: 2px solid white;
       width: 150px;
       color: white;
}
footer{
font-size: 11px;
}
.head{
height: 750px;
}
    }



/* btn never used*/